

	  <%  if params[:price].present? %>
	    <h1 class = "featured">Featured Gifts Under $<%= params[:price] %></h1>

	  <% else %>

	  <h1 class = "featured">Featured Gifts</h1>

	 <% end %>


	  
	<div class = "row feautre_filters">
		<div class = "filters">

			<div class = "col-sm-11 filter-group">
			</div>

			<div class = "col-sm-1 filter-group">



			  	<div class="input-group-btn">
			     <button type="button" class="btn btn-default dropdown-toggle filterz" data-toggle="dropdown">
			       Price
			       <span class="caret"></span>
			     </button>
			     <ul class="dropdown-menu pull-left">
			       <li><%= link_to "Under $25", root_path(params.merge({:price => 25})) %></li>
			       <li><%= link_to "Under $50", root_path(:price => 50) %></li>
			       <li><%= link_to "Under $100", root_path(:price => 100) %></li>
			       <li><%= link_to "Under $200", root_path(:price => 200) %></li>
			     </ul>
			   </div>

			</div>

		</div>
	</div>


                <div class = "row product-row">
                <% @category.each do |category| %>


                    <h2 class = "popular">Popular from
                    <%= link_to(category_path(Category.find_by slug: category.slug), class: "titlers")  do %>
						<%= category.name %>
					<% end %>
                    </h2>

                    <% category.reload.items.order( 'impression_count DESC' ).take(4).each do |item| %> 
                      <%= render 'categories/item2', item: item %>
                    <% end %>

                <% end %>
                </div>

              </div>