


<div class = "page_name">

	  <%  if params[:recipient].present? && params[:price].present?%>

	    <h1> <%= @category.name.singularize %> Gifts for <%= params[:recipient].pluralize.titleize %> Under $<%= params[:price] %></h1>

	  <% elsif params[:recipient].present? %>
		<h1> <%= @category.name.singularize %> Gifts for <%= params[:recipient].pluralize.titleize %></h1>

	  <% elsif 	params[:price].present? %>
	    <h1> <%= @category.name.singularize %> Gifts Under $<%= params[:price] %></h1>

	  <% else %>

	  <h1> <%= @category.name.singularize %> Gifts</h1>

	  <% end %>


</div>

	<div class = "row filter_row">
		<div class = "filters">

			<div class = "col-sm-9 filter-group">
			</div>

			<div class = "col-sm-2 filter-group">

					<div class="input-group-btn">
				     <button type="button" class="btn btn-default dropdown-toggle filterz" data-toggle="dropdown">
				       Recipient
				       <span class="caret"></span>
				     </button>
				     <ul class="dropdown-menu pull-left" role="menu" aria-labelledby="dropdownMenuDivider">

				       <li role="presentation"><%= link_to "Friend", category_path(params.merge({:recipient => "friend"})) %></li>
				       <li role="presentation"><%= link_to "Grandmother", category_path(params.merge({:recipient => "grandmother"})) %></li>
				       <li role="presentation"><%= link_to "Girlfriend", category_path(params.merge({:recipient => "girlfriend"})) %></li>
				       <li role="presentation"><%= link_to "Mother", category_path(params.merge({:recipient => "mother"})) %></li>
				       <li role="presentation"><%= link_to "Sister", category_path(params.merge({:recipient => "sister"})) %></li>
				       <li role="presentation"><%= link_to "Wife", category_path(params.merge({:recipient => "wife"})) %></li>
				       <li role="presentation" class="divider"></li>
				       <li role="presentation"><%= link_to "All", category_path(params.permit(:price)) %></li>

				     </ul>
				   </div>
			</div>

			<div class = "col-sm-1 filter-group">



			  	<div class="input-group-btn">
			     <button type="button" class="btn btn-default dropdown-toggle filterz" data-toggle="dropdown">
			       Price
			       <span class="caret"></span>
			     </button>
			     <ul class="dropdown-menu pull-left">
			       <li><%= link_to "Under $25", category_path(params.merge({:price => 25})) %></li>
			       <li><%= link_to "Under $50", category_path(params.merge({:price => 50})) %></li>
			       <li><%= link_to "Under $100", category_path(params.merge({:price => 100})) %></li>
			       <li><%= link_to "Under $200", category_path(params.merge({:price => 200})) %></li>
			       <li role="presentation" class="divider"></li>
				   <li role="presentation"><%= link_to "All", category_path(params.permit(:recipient)) %></li>
			     </ul>
			   </div>

			</div>


		</div>
	</div>


		<div class = "row product-row">

			<% @items.each do |item| %>	
				<%= render 'items/item', item: item %>
			<% end %>
		</div>




<div id = "flickr_pagination">
	<%= will_paginate @items %>
</div>

