<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inside Gift - Buy her this</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo">
    <link href='http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Volkhov:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

    <!-- Add fancyBox -->
    <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>


    <!-- Optionally add helpers - button, thumbnail and/or media -->
    <link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

    <link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
    <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

  </head>


  <body>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P99326"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-P99326');</script>
  <!-- End Google Tag Manager -->

    <header>
      <div class="navbar" >
        <div class="navbar-inner">
          <div class="container-fluid">
            <%= render 'layouts/navigation' %>
          </div>
        </div>
      </div>
    </header>

    <div class="container-fluid" id="fluider">
      <div class="row">
        <div class = "headline">
         
          <div class="headline alert alert-warning alert-dismissible collapse" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Find the perfect gift for her, curated with the best of Amazon. 
          </div>

        </div>
        <% if flash[:notice] %>
          <div class="notice"><%= flash[:notice] %></div>
        <% end %>
    </div>

    <div id="main" role="main">
      <div class="container" id = "boom">
          <div class="container-fluid" id = "boom2">

            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
        <footer>
        </footer>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->

  </body>

<div class="row">
  <div class="footer">
      <div class="col-sm-7 footer-section f-info">
        <p class="app-name">&copy; 2015 Inside Gift</p>
        <p class="app-motto hidden-xs">Discover the best & most beautiful products from Amazon.</p>
        <p class="app-motto visible-xs">Discover beautiful, unique products.</p>
        <p class="site-links">
          <span class="about-contact">
            <a href="/about">About</a>&nbsp; | &nbsp;<a href="/contact">Contact</a>&nbsp; | &nbsp; <a href="/add">Add Products</a>
          </span>
        </p>
      </div>
      <div class="col-sm-5 footer-section f-newsletter">
        <p>Want amazing products in your inbox?</p>
        <p>Subscribe to our newsletter.</p>

        <%= form_tag('/emailapi/subscribe', method: "post", id: "subscribe", remote: "true") do -%>
           <%= email_field(:email, :address, {id: "email", placeholder: "Email address"}) %>
           <%= button_tag(type: 'submit', class: "btn btn-default subscribe_button") do %>
             <i class="icon-ok"></i> Subscribe
           <% end %>
        <% end %>


        </div>
      </div>
  </div>
</div>

</html>
